li {
  margin: 10px;
}
.med-ft {
  font-size: 28px;
}

img {
  margin: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}

.text-left {
  text-align: left;
}
